server {

        listen 80;

        root {{ frontend_root_path }}/{{ frontend_dist_dir }}/frontend;
        index  index.html;


        location / {
                try_files $uri $uri/ /index.html;
        }

        location /api/products/ {
                proxy_pass http://localhost:8080/api/products/;
        }

}
